fieldset {
  display: inline-block;
  padding: 15px;
}

label {
  display: inline-block;
  width: 100px;
  padding: 4px 8px;
  text-align: right;
}

input {
  margin-bottom: 5px;
  padding: 4px 8px;
  font-size: 1em;
}

button {
  float: right;
  padding: 4px 8px;
  font-size: 1em;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 2px;
}
