* {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", Avenir, sans-serif;
}

.component {
  padding: 25px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 3px;
}

h1 {
  margin-bottom: 10px;
}
